header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0a000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

div.profile-name h2 {
  color: #FFFFFF;
  font-weight: 300;
  margin-top: -0.5em;
}

.profile-name h2 span {
  font-weight: 700;
}

