header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0a000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.profile-name {
  color: #FFFFFF;
  font-weight: 300;
}

